@CHARSET "UTF-8";

.tab{
font-family: san-serif, verdana;
font-size: 13px;
}
.asd
{
	text-decoration: none;
	text-align:center;
	/* font-family: san-serif, verdana; */
	/* font-size: 12px; */
	font-weight:700; 
	color:#ffffff;
	display:block;
	width:150px;
	height:23px;
	z-index:500;
	margin:1 1px;
	
	padding:8px 5px 0 3px;
	
}


.column1 {
	float: left;
	display: inline;
	width: 150px;
	/* margin-right: 35px; */
	position: relative;
	
}

.column2 {
	float: left; 
	display: inline;
	text-align: left;  /* right */
	/* width: 1024px; */   
	margin-left: 1%; 
	position: relative; 
	margin: 0 auto; 
}

.column3 {
	float:left;
	display:inline;
	text-align:left;
	margin-left: 1em;
	position: relative;
}	

.transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

  /* IE 5-7 */
  filter: alpha(opacity=40);

  /* Netscape */
  -moz-opacity: 0.4;

  /* Safari 1.x */
  -khtml-opacity: 0.4;

  /* Good browsers */
  opacity: 0.7;
  
	height: 25px;  
  
}