@CHARSET "UTF-8";

body {
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold ;
	color:#003366;
	width: 1024px;
	
	margin: 0 auto; 
}
th {
	text-align: left;
	font-size: 10pt;
	text-transform: uppercase;
	color: #fff; /*  #000000; */  
	background-color: #b35312; /* #3173ab; */ /* rgb(121, 196, 136); */ 
	text-align: center;
}

div.form {
	width:800px;
	text-align: right;
	line-height: 2.4;
}

div.form1 {
	width:1024px;
	text-align: right;
	line-height: 2.4;
}
.required {
	color: red;
}

a.update, a.delete { 
	    color:#900; 
	    font-weight:bold; 
	    padding-left:23px;
}

.update {
	background:url(../pictures/edit-icon.png) left center no-repeat;
}

.delete {
	background:url(../pictures/delete-icon.png) left center no-repeat;
}

.sum {
	font-family: sans-sheriff;
	font-wieght:bold;
	font-size: 11px;
	padding: 5px;
	letter-spacing: 2px;
	color: #145558;
		
}
/* radi sve osim backgournd-image ne mijenja sliku
th.headerSortUp { 
    background-image: url(../pictures/arrow_up.png);  
    background-color: #3399FF; 
} 

th.headerSortDown { 
    background-image: url(../pictures/arrow_down.gif); 
    background-color: #3399FF; 
     color:#900; 
} 

th.header { 
    background-image: url(../pictures/arrow_both.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 
*/

/* tables */
table.tablesorter {
	font-family:arial;
	
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	/* background-color: #e6EEEE; */ /* orig */
	background-color: #b35312;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../pictures/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	/*color: #3D3D3D; /* /* orig */  
	color:#003366;  /* izmjena */
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter tbody tr.required td {
	color:#ef9d9d;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../pictures/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../pictures/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color:#f48d32; /* #8dbdd8; */
}

.pager {
        /* position:relative; */
        /* bottom:0px; */
        vertical-align:middle;
        top:-25px;
}

.back_blue {
   background-color: #b35312;	 /* f4a571 */
   /* color: #fff;   */
   font-style: italic;   
}